:root{
	/* Fonts */
	--font-1: "bricolage-grotesque", sans-serif;
	--font-2: "poppins", sans-serif;

	/* Font size */
		--size-1: 16px;
		--size-2: 20px;
		--size-3: 24px;
		--size-4: 32px;
		--size-5: 48px;
		--size-6: 64px;
		--size-7: 80px;
		--size-8: 96px;
		--size-9: 112px;
		--size-10: 144px;

	--gutter: var(--size-1);

	/* Colors */
	--white: #FEFEFE;
	--black: #161E1A;
	--brand-green:#1F9D56;
	--electric-green: #A8F100;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overscroll-behavior: none;
}

nav{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 600;
	color: var(--black);
	text-align: center;
}

h1{
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 400;
	color: var(--black);
	text-align: center;
}

em{
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 700;
	color: var(--black);
}

h2{
	font-family: var(--font-1);
	font-size: var(--size-5);
	font-weight: 700;
	color: var(--brand-green);
}

#footer{
	font-family: var(--font-2);
	font-size: calc(.8*var(--size-1));
	font-weight: 400;
	color: var(--black);
	text-align: center;
	padding: var(--size-1);
	margin-top: auto;
	overflow: hidden;
}