:root{
	/* Fonts */
	--font-1: "bricolage-grotesque", sans-serif;
	--font-2: "poppins", sans-serif;

	/* Font size */
		--size-1: 16px;
		--size-2: 20px;
		--size-3: 24px;
		--size-4: 32px;
		--size-5: 48px;
		--size-6: 64px;
		--size-7: 80px;
		--size-8: 96px;
		--size-9: 112px;
		--size-10: 144px;

	--gutter: var(--size-1);

	/* Colors */
	--white: #FEFEFE;
	--black: #161E1A;
	--brand-green:#1F9D56;
	--electric-green: #A8F100;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overscroll-behavior: none;
}

.site-nav{
	padding: var(--size-2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 100;
}

.site-title {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 100;
}

.logo-mobile{
	height: 30px;
	width: auto;
	display: block;
}

.logo-desktop{
	display: none;
}

.menu {
	position: relative;
	z-index: 200;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-icon {
	font-size: var(--size-5);
	color: var(--black);
	cursor: pointer;
	z-index: 20;
	transition: opacity 0.5s ease, visibility 0.5s ease;
}

#menu-toggle:checked + .menu-icon{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.nav-links{
	font-family: var(--font-1);
	font-size: var(--size-4);
	font-weight: 500;
	color: var(--brand-green);
	background-color: var(--white);
	padding: var(--size-1);
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	gap: 10px;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.site-nav:has(#menu-toggle:checked) .nav-links {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.nav-links :hover{
	text-decoration: underline;
}

.close-icon{
	font-size: var(--size-4);
	color: var(--brand-green);
	position: absolute;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.4s ease, visibility 0.4s ease;
}

#menu-toggle:checked~.close-icon {
	opacity:1;
	visibility: visible;
	pointer-events: auto;
}

h1{
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 400;
	color: var(--black);
	text-align: left;
	padding: var(--size-2);
	text-wrap: pretty;
}

h2{
	font-family: var(--font-1);
	font-size: var(--size-5);
	font-weight: 700;
	color: var(--electric-green);
}

h3{
	font-family: var(--font-2);
	font-size: var(--size-2);
	font-weight: 700;
	color: var(--white);
	letter-spacing: 1.1;
	margin: 0;
}

p{
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 400;
	color: var(--black);
	text-wrap: pretty;
}

em{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 900;
	color: var(--black);
}

main ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
}

.project {
	background-color: var(--brand-green);
	padding: var(--size-2);
}

.project h3{
	font-size: var(--size-2);
	padding-top: var(--size-1);
	text-wrap: pretty;
}

.project p{
	color: var(--white);
	font-family: var(--font-2);
	font-size: var(--size-1);
	padding-top: var(--size-1);
	display: block;
	text-decoration: none;
}

.project em a {
	color: var(--white);
	font-family: var(--font-2);
	font-size: var(--size-2);
	padding: var(--size-1);
	display: block;
	text-decoration: underline;
	letter-spacing: 1.2;
}

.project:nth-of-type(1) { background-color: var(--brand-green); }
.project:nth-of-type(2) { background-color: #0f793d; }
.project:nth-of-type(3) { background-color: #074522; }
.project:nth-of-type(4) { background-color: #022a13; }
.project:nth-of-type(5) { background-color: var(--black); }

#footer{
	font-family: var(--font-2);
	font-size: calc(.8*var(--size-1));
	font-weight: 400;
	color: var(--black);
	text-align: center;
	padding: var(--size-1);
	margin-top: auto;
	overflow: hidden;
}

@media (min-width: 768px) {

	#logo-mobile{
		display: none;
	}

	#logo-desktop{
		display: block;
		height: 40px;
		width: auto;
	}

	.menu-icon, #menu-toggle, .close-icon{
		display: none;
	}

	.nav-links{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 1.2rem;
		position: static;
		width: auto;
		height: auto;
		visibility: visible;
		opacity: 1;
	}

	.nav-links a {
		font-size: var(--size-2);
		font-weight: 600;
		color: var(--black);
		text-decoration: none;
	}
	
	.nav-links a:hover {
		color: var(--brand-green);
		text-decoration: underline;
	}

	#welcome {
		padding: var(--size-1);
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	h1, em {
		font-size: var(--size-3);
		line-height: 1.5;
		text-align: left;
	}

	.project {
		width: 100vw;
		padding: var(--size-4) var(--size-2);
		box-sizing: border-box;
		display: flex;
		justify-content: center;
	}

	.project details {
		max-width: 700px;
		width: 100%;
	}

	.project h2 {
		font-size: var(--size-6);
	}
	
	.project p,
	.project h3,
	.project em a {
		font-size: var(--size-3);
		letter-spacing: 1.2;
	}

	.project h2 :hover{
		color: var(--white);
	}

	.project em a :hover{
		color: var(--electric-green);
	}
}